<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="AboutUs.css">
    <link rel="stylesheet" href="Contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-and-title">
                <a href="/" class="logo-title-link">
                    <div class="logo">
                        <img src="logo.png" alt="Climate Insight Logo">
                    </div>
                    <div class="title">
                        <h1>Climate Insight</h1>
                    </div>
                </a>
            </div>
            <ul class="nav-links">
                <li><a id="home-link" href="/">Home</a></li>
                <li class="dropdown">
                    <a id="detail-link" href="Population.html">Detail View</a>
                    <li class="dropdown">
                        <a id="analytic-tools-link" href="javascript:void(0);">Analytic Tools</a>
                        <div class="dropdown-content">
                            <a href="CompareData.html">Compare Data</a>
                            <a href="FindSimilar.html">Find Similar</a>
                        </div>
                    </li>
                </li>
                <li><a id="mission-link" href="Mission.html">Mission</a></li>
                <li><a id="forecast-link" href="Forecast.html">Forecast</a></li>
                <li><a id="FAQ-link" href="FAQ.html">FAQ</a></li>
                <li><a id="resources" href="Resources.html">Resources</a></li>
                <li><a id="about-link" href="AboutUs.html">About Us</a></li>
            </ul>
            <div class="user-auth">
                <div class="user-icon-dropdown">
                    <img src="usericon.png" alt="User" class="user-avatar-img" onclick="toggleUserDropdown()">
                    <div id="userDropdown" class="user-dropdown-content">
                        <a href="Sign_In.html">Sign In</a>
                        <a href="Sign_Up.html">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="responsive-menu" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>
    
    <section class="team-section-container">
        <h2>Our Team Members</h2>
        <p>Meet our dedicated team who work hard to bring you the best service.</p>
        <div class="team-section">
            <div class="team-card" th:each="member : ${members}">
                <img th:src="@{${member.image}}">
                <div class="team-member-socials">
                    <a th:href="@{${member.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    <a href="@{${member.instagram}}"><i class="fab fa-instagram"></i></a>
                    <a href="@{${member.twitter}}"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="team-member-name" th:text="${member.name}"></div>
                <div class="team-member-role" th:text="${member.sID}"></div>
                <div class="team-member-role" th:text="${member.role}"></div>
            </div>
        </div>
    </section>

    <section class="contact-section-container">
        <div class="contact-form-container">
            <h2>Contact Us</h2>
            <p>Have a question or feedback? Feel free to get in touch with us.</p>
            <form id="contact-form" action="#" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </section>

    <div id="thankYouModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>Thank you for contacting us</h3>
            <p>Our team will contact you shortly.</p>
        </div>
    </div>
      
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Organisation</h4>
                    <ul>
                        <li><a href="/">Overview</a></li>
                        <li><a href="Mission.html">Mission</a></li>
                        <li><a href="Resources.html">Resources</a></li>
                        <li><a href="AboutUs.html">About us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get help</h4>
                    <ul>
                        <li><a href="FAQ.html#how-to-use-section">How it works</a></li>
                        <li><a href="FAQ.html">FAQ</a></li>
                        <li><a href="Forecast.html">Forecast</a></li>
                        <li><a href="AboutUs.html">Contact us</a></li>
                        <li><a href="Payment.html">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Event</h4>
                    <ul>
                        <li><a href="Event.html">Charity</a></li>
                        <li><a href="Event.html">Blue Sea </a></li>
                        <li><a href="Event.html">Green Globe</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/satrmithanoi"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.rmit.edu.vn/vi"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/rmituniversityvietnam/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/school/rmit-university-vietnam/?originalSubdomain=vn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="updates-section">
                <form>
                    <div style="color:white"><h3>Get update</h3> </div>
                    <input type="email" placeholder="Enter your email " required>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div style="text-align: center; margin-top: 30px;">
                <p style="color: #e91e63;">© Copyright Team-HN-G03-COSC3056 2024. All Rights Reserved | Designed and Developed by Team-HN-G03-COSC3056</p>
            </div>
        </div>
    </footer>


       
    <script>
        // Script for Navbar Interaction
  document.addEventListener('DOMContentLoaded', function() {
      // Function to toggle navbar menu
      function toggleMenu() {
          document.querySelector('.nav-links').classList.toggle('active');
      }
  
      // Add click event listener to menu for responsive design
      document.querySelector('.responsive-menu').addEventListener('click', toggleMenu);
  
      // Function to remove 'active' class from all navbar links
      function removeAllActive() {
          document.querySelectorAll('.nav-links a').forEach(link => {
              link.classList.remove('active');
          });
      }
  
      // Add 'active' class to the navbar link that matches current page
      const currentLocation = window.location.href;
      document.querySelectorAll('.nav-links a').forEach(link => {
          if (link.href === currentLocation) {
              removeAllActive();
              link.classList.add('active');
          }
          // Add click event listener to each link
          link.addEventListener('click', function() {
              removeAllActive();
              this.classList.add('active');
          });
      });
  
      // Function to toggle the user dropdown menu
      function toggleUserDropdown() {
          document.getElementById("userDropdown").classList.toggle("show");
      }
  
      // Add click event listener to user icon for dropdown
      document.querySelector('.user-avatar-img').addEventListener('click', toggleUserDropdown);
  
      // Close the dropdown if the user clicks outside of it
      window.onclick = function(event) {
          if (!event.target.matches('.user-avatar-img')) {
              var dropdowns = document.getElementsByClassName("user-dropdown-content");
              for (var i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                  }
              }
          }
      };
  
      // User Authentication Check
      var isUserLoggedIn = localStorage.getItem('isUserLoggedIn');
      var userDropdown = document.getElementById('userDropdown');
      if (isUserLoggedIn === 'true') {
          userDropdown.innerHTML = `
              <a href="User.html">Account</a>
              <a href="#" onclick="signOut()">Sign Out</a>
          `;
      }
  });
  
  // Function to handle sign out
  function signOut() {
      localStorage.setItem('isUserLoggedIn', 'false');
      window.location.href = '/';
  }
  </script>

<script>
  document.getElementById('contact-form').addEventListener('submit', function(event) {
    if (!this.checkValidity()) {
        // If the form is invalid, HTML5 validation messages will be shown
        return;
    }
    // If the form is valid, prevent default form submission and show the modal
    event.preventDefault();
    document.getElementById('thankYouModal').style.display = 'block';
    this.reset(); // Reset the form

    // Add a function to hide the modal after a few seconds (e.g., 5 seconds)
    setTimeout(function() {
        closeModal();
    }, 5000); // 5000 milliseconds (5 seconds)
});

function closeModal() {
    document.getElementById('thankYouModal').style.display = 'none';
}

window.onclick = function(event) {
    var modal = document.getElementById('thankYouModal');
    if (event.target == modal) {
        closeModal();
    }
};
    </script>
</body>
</html>
